./vspd.exe
./vspd
./cmd/vspd/vspd.exe
./cmd/vspd/vspd

# Testing, profiling, and benchmarking artifacts
cov.out
*cpu.out
*mem.out
/webapi/test.db
/database/test.db
/database/test.db-backup

# Go workspace
go.work
go.work.sum
