# Executables built by this repo.
vspd.exe
vspd

vote-validator.exe
vote-validator

v3tool.exe
v3tool

vote-validator.log

# Harness dir.
vspd-harness/

# Testing, profiling, and benchmarking artifacts
cov.out
*cpu.out
*mem.out
webapi/test.db
database/test.db

# Go workspace
go.work
go.work.sum
