html, body {
    height: 100%;
}
body {
    background-color: #F9FAFA;
    color: #3D5873;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1 0 auto;
}

.logo--logo {
    padding-right: 5px;
    border-right: 0.3px solid #091440;
}
.logo--text {
    padding: 0 5px;
    font-size: 15px;
    line-height: 1;
    color: #091440;
}

.vsp-overview {
    color: #8997A5;
    background-color: #ffffff;
    font-size: 16px;
}

.vsp-overview h1 {
    color: #3D5873;
    font-size: 28px;
}

.vsp-stats .stat-title {
    font-size: 14px;
    color: #596D81;
}

.vsp-stats .stat-value {
    font-size: 24px;
    color: #091440;
}

footer {
    flex-shrink: 0;
    font-size: 0.8rem;
    background-color: #091440;
    color: #8997a5;
    width: 100%;
}

footer .code {
    word-break: break-word;
}

.footer__credit {
    background-color: rgba(237,239,241,.1);
    text-align: right;
    color: #8997a5;
}

@media (max-width: 768px) {
    .footer__credit {
        text-align: center;
    }
}

.btn {
    outline: 0;
    -webkit-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.19);
            box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.19);
}

.btn:focus, .btn:active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
}

.btn-small {
    padding: 6px 10px;
    font-size: 13px;
}

.block__content h1 {
    color: #091440;
    font-size: 24px;
    padding-bottom: 10px;
}

.block__content {
    background-color: #ffffff;
    padding: 20px 30px; 
    color: #3D5873;
    line-height: 1.4;
}

.block__content th {
    font-weight: normal;
    padding-right: 15px;
    color: #495057;
    background-color: #e9ecef;
}

.block__content table td {
    word-break: break-word;
    font-family: "vspd-code";
}

.block__content table th {
    vertical-align: top;
    white-space: nowrap;
}

td.status-good{
    background-color: #C4ECCA;
}
td.status-bad{
    background-color: #FEB8A5;
}

.ticket-table th {
    text-align: right;
}
.ticket-table td {
    text-align: left;
}

.status-table th,
.status-table td {
    text-align: center;
}