<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link rel="stylesheet" type="text/css" href="/public/css/dcrvsp.css" />

        <title>dcrwages</title>
    </head>

    <body>
        <img src="/public/images/decred-logo.svg" />
        <h1>{{ .Message }}</h1>
        <table>
            <tr><td>Total tickets:</td><td>{{ .TotalTickets }}</td></tr>
            <tr><td>FeePaid tickets:</td><td>{{ .FeePaidTickets }}</td></tr>
            <tr><td>VSP Fee:</td><td>{{ .VSPFee }}</td></tr>
            <tr><td>Network:</td><td>{{ .Network }}</td></tr>
        </table>
        <p>Last updated: {{.UpdateTime}}</p>
    </body>
</html>