{{ template "header" . }}

<table>
    <tr><td>Total tickets:</td><td>{{ .TotalTickets }}</td></tr>
    <tr><td>Fee confirmed tickets:</td><td>{{ .FeeConfirmedTickets }}</td></tr>
    <tr><td>VSP Fee:</td><td>{{ .VSPFee }}% of vote reward</td></tr>
    <tr><td>Network:</td><td>{{ .Network }}</td></tr>
    <tr><td>Support:</td><td>{{ .SupportEmail }}</td></tr>
    <tr><td>Pubkey:</td><td>{{ printf "%x" .PubKey }}</td></tr>
    <tr><td>VSP closed:</td><td>{{ .VspClosed }}</td></tr>
</table>

<p>Last updated: {{ .UpdateTime }}</p>

</body>
</html>
