{{ define "vsp-stats" }}

<div class="row vsp-stats">
    
    <div class="col-6 col-sm-4 col-lg-2 py-3">
        <div class="stat-title">Live tickets</div>
        <div class="stat-value">{{ .Voting }}</div>
    </div>

    <div class="col-6 col-sm-4 col-lg-2 py-3">
        <div class="stat-title">Voted tickets</div>
        <div class="stat-value">{{ .Voted }}</div>
    </div>

    <div class="col-6 col-sm-4 col-lg-2 py-3">
        <div class="stat-title">Revoked tickets</div>
        <div class="stat-value">{{ .Revoked }}</div>
    </div>

    <div class="col-6 col-sm-4 col-lg-2 py-3">
        <div class="stat-title">VSP Fee</div>
        <div class="stat-value">{{ .VSPFee }}%</div>
    </div>

    <div class="col-6 col-sm-4 col-lg-2 py-3">
        <div class="stat-title">Network</div>
        <div class="stat-value">{{ .Network }}</div>
    </div>

</div>

{{ end }}
