{{ define "vsp-stats" }}

<section>
    <h3>VSP Stats</h3>
    
    <p><em>Last updated: {{ .UpdateTime }}</em></p>

    <table class="table table-dark">
        <tr>
            <th>Total tickets</th>
            <td>{{ .TotalTickets }}</td>
        </tr>
        <tr>
            <th>Fee confirmed tickets</th>
            <td>{{ .FeeConfirmedTickets }}</td>
        </tr>
        <tr>
            <th>VSP Fee</th>
            <td>{{ .VSPFee }}% of vote reward</td>
        </tr>
        <tr>
            <th>Network</th>
            <td>{{ .Network }}</td>
        </tr>
        <tr>
            <th>Support</th>
            <td>{{ .SupportEmail }}</td>
        </tr>
        <tr>
            <th>Pubkey</th>
            <td class="code">{{ printf "%x" .PubKey }}</td>
        </tr>
    </table>
</section>

{{ end }}
