{{ define "footer" }}

  </div> <!-- vsp-page-content -->

  <footer class="vsp-footer flex-md-row flex-row-reverse">
    <div class="vsp-footer-bg-left d-none d-sm-block col-md-6 col-12"></div>
    <div class="vsp-footer-bg-right d-none d-sm-block col-md-6 col-12"></div>

    <div class="container d-flex flex-wrap px-0 px-sm-2 mx-0 mx-sm-auto">

        <div class="vsp-footer-left col-md-8 col-12 justify-content-center justify-content-md-start px-0">
            <p class="py-4 m-0">
              <strong>Stats&nbsp;updated:</strong>&nbsp;{{ timeAgo .WebApiCache.UpdateTime }}
              <br />
              <strong>Support:</strong>&nbsp;<a href="mailto:{{ .WebApiCfg.SupportEmail }}" rel="noopener noreferrer">{{ .WebApiCfg.SupportEmail }}</a>
              <br />
              <strong>VSP&nbsp;public&nbsp;key:</strong>&nbsp;<span class="code text-break">{{ .WebApiCache.PubKey }}</span>
            </p>
        </div>

        <div class="vsp-footer-right col-md-4 col-12 justify-content-center justify-content-md-end text-center text-md-right px-0">
            <p class="py-4 m-0">
                Decred Developers | 2020-2024
                <br />
                The source code is available on <a href="https://github.com/decred/vspd" target="_blank" rel="noopener noreferrer">GitHub</a>
            </p>
        </div>
  
    </div>
  </footer>

</body>
</html>
{{ end }}
