{{ template "header" . }}

<div class="py-4 container">
    <h1>Login</h1>
    <form action="/admin" method="post">

        <input class="form-control w-auto my-2" type="password" name="password" autofocus required placeholder="Enter password">
        
        <p class="my-1 vsp-text-orange" style="visibility:{{ if .FailedLoginMsg }}visible{{ else }}hidden{{ end }};">{{ .FailedLoginMsg }}</p>

        <button class="btn btn-primary my-2" type="submit">Login</button>
    </form>

</div>

{{ template "footer" . }}
